<div class="container-fluid" style="margin-top: 69px;">
  <div class="card ">
     <img [src]="image" class="card-img-top" alt="..." style="height:225px;width: 370px ; ">
     <div class="card-body">
        <h3 class="card-title">  {{pro.ProName}}</h3>
        <h4 class="card-text truncate"><b>Rs.{{pro.SellPrice}}</b></h4>
      
        <div class="row">
           <div class="col-md-2"><label class="control-label">Qty</label></div>
           <div class="input-group col-md-7 mb-3">
              <div class="input-group-prepend">
                 <button class="Btn1 BtnWarning " (click)="QtyDecrement()"><span class="fa fa-minus"></span></button>
              </div>
              <input type="number" readonly value="1" min = 1 class="form-control text-center" [(ngModel)]="QtyValue" >
              <div class="input-group-prepend">
                 <button class="btn "  (click)="QtyIncrement()" ><span class="fa fa-plus"></span></button>
              </div>
           </div>          
        </div>
        <div class="row">
          <div class="col-md-2"><label class="control-label">Total</label></div>
          <div class="input-group col-md-7 mb-3">
            <h4 class="card-text truncate"><b>Rs.{{TotalPrice}}</b></h4>
          </div>          
       </div>

        <div class="text-center">
           <button class="btn btn-outline-primary btn-sm btn-block" (click)="AddtoCart()"><i class="fa fa-cart-plus"></i> Add to Cart</button>
           <button class="btn btn-outline-primary btn-sm btn-block" (click)="Close()"><i class="fa icon-remove"></i> Close</button>
        </div>
     </div>
  </div>
</div>