<div class="ttr-sidebar">
    <div class="ttr-sidebar-wrapper content-scroll">
      
        <div class="ttr-sidebar-logo">
            <!-- <a routerLink="/home"><img alt="" src="../../../../assets/images/NewLogo.png" width="122" height="27"></a>
           -->
           <h2 class="text-center mt-3"> APPETITE LOVERS</h2>
            <div class="ttr-sidebar-toggle-button">
                <i class="ti-arrow-left"></i>
            </div>
        </div>
      
        <nav class="ttr-sidebar-navi">
            <ul>
                <li>
                    <a routerLink="/dashboard" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-home"></i></span>
                        <span class="ttr-label">Dashborad</span>
                    </a>
                </li>
              
                <li>
                    <a  routerLink="/user" class="ttr-material-button">
                        <span class="ttr-icon"><i class="fa fa-users" ></i></span>                   
                        <span class="ttr-label">User Master</span>                                   
                    </a>
                   
                </li>
                
                <li>
                    <a  class="ttr-material-button">
                        <span class="ttr-icon"><i class="fas fa-bread-slice"></i></span>
                        <span class="ttr-label">Product Master</span>
                        <span class="ttr-arrow-icon"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul>
                        <li>
                            <a routerLink="/category" class="ttr-material-button"><span class="ttr-label">Category Master</span> </a>
                        </li>
                        <li>
                            <a routerLink="/product" class="ttr-material-button"> <span class="ttr-label">Product Master</span> </a>
                        </li>
                    </ul>
                </li>
    
            
                <li>
                    <a  routerLink="/supplier" class="ttr-material-button">
                        <span class="ttr-icon"><i class="fa fa-users" ></i></span>
                        <span class="ttr-label">Supplier Master</span>                     
                    </a>                
                </li>

                <li>
                    <a  class="ttr-material-button">
                        <span class="ttr-icon"><i class="fa fa-file"></i></span>
                        <span class="ttr-label">Reports</span>
                        <span class="ttr-arrow-icon"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul>
                        <li>
                            <a routerLink="/IncomeReport" class="ttr-material-button"><span class="ttr-label">Income Report</span> </a>
                        </li>
                        <li>
                            <a routerLink="/ProductReport" class="ttr-material-button"><span class="ttr-label">Product Report</span> </a>
                        </li>
                        <li>
                            <a routerLink="/EmployeeReport" class="ttr-material-button"><span class="ttr-label">Employee Report</span> </a>
                        </li>
                        <li>
                            <a routerLink="/CustomerReport" class="ttr-material-button"><span class="ttr-label">Customer Report</span> </a>
                        </li>
                    </ul>
                </li>

              
                
              

                <!-- <li>
                    <a href="#" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-user"></i></span>
                        <span class="ttr-label">My Profile</span>
                        <span class="ttr-arrow-icon"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul>
                        <li>
                            <a href="user-profile.html" class="ttr-material-button"><span class="ttr-label">User Profile</span></a>
                        </li>
                        <li>
                            <a href="teacher-profile.html" class="ttr-material-button"><span class="ttr-label">Teacher Profile</span></a>
                        </li>
                    </ul>
                </li>  -->


                <li class="ttr-seperate"></li>
            </ul>
            
        </nav>
        
    </div>
</div>