<app-navbar></app-navbar>
<div class="page-content " style="background-color: rgb(187, 208, 208);">
   <!-- inner page banner -->
   <div class="page-banner ovbl-middle" style="background-image:url(assets/images/banner/banner1.jpg);">
      <div class="container">
         <div class="page-banner-entry">
            <h1 class="text-white">About Us</h1>
         </div>
      </div>
   </div>
   <!-- Breadcrumb row -->
   <!-- <div class="breadcrumb-row">
      <div class="container">
         <ul class="list-inline">
            <li><a routerLink="/home">Home</a></li>
            
         </ul>
      </div>
   </div> -->
   <div class="content-block">
      <div class="section-area section-sp1">
         <div class="container">

            <div class="card text-center">
                <div class="card-header"> </div>
                <div class="card-body">
                  <h1 class="card-title">Crafting Culinary Journeys with Appetite Lovers</h1>
                  <p class="card-text" style="font-size: 1rem;">Welcome to Appetite Lovers, a haven for discerning palates seeking the perfect blend of homemade 
                    goodness and modern convenience. Rooted in the heart of Kalaniya, our culinary venture is more than a restaurant; it's a celebration of flavors,
                     a testament to tradition, and a commitment to redefining your dining experience.</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
                <div class="card-footer text-body-secondary">  </div>
              </div>

              <div class="card text-bg-light mb-3 mt-5" >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../../assets/images/logoNew.png"  class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h1 class="card-title text-center text-uppercase pt-2">Our Story</h1>
                      <p class="card-text pt-4" style="font-size: 1rem; text-align: justify;">
                        At Appetite Lovers, our story unfolds in the aroma of simmering pots, the sizzle of fresh ingredients, 
                        and the laughter shared over delectable homemade meals. From humble beginnings, 
                        we've grown into a culinary destination, driven by our passion for crafting dishes that resonate with the soul.
                      </p>
                      <p class="card-text"><small class="text-body-secondary"></small></p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card text-center">
                <div class="card-header"> </div>
                <div class="card-body">
                  <h1 class="card-title">Our Philosophy</h1>
                  <p class="card-text" style="font-size: 1rem;">
                    We believe in the transformative power of a well-prepared meal. Each dish is a labor of love,
                     a symphony of flavors meticulously orchestrated to evoke nostalgia and create new culinary memories.
                    Our philosophy revolves around authenticity,quality, and the joy that comes from sharing a homemade meal with loved ones.
                  </p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
                <div class="card-footer text-body-secondary">  </div>
              </div>
           
            
              <div class="card mt-3">
                <!-- <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div> -->
                <img src="../../../assets/images/banner/bannerAdd.jpg" class="card-img-bottom" alt="...">
              </div>

              <!-- <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Gonawala,Kalaniya,Sri%20Lanka+(Appetite%20Lovers)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/population/">Calculate population in area</a></iframe></div>
             -->
            </div>
      </div>
   </div>
</div>
<app-footer></app-footer>