
<app-admin-navbar></app-admin-navbar>
<app-sidebar></app-sidebar>

<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <h4 class="breadcrumb-title">Customer Order </h4>
            <ul class="db-breadcrumb-list">
                <li><a routerLink="/dashboard"><i class="fa fa-home"></i>Home</a></li>
                <li><i class="fa fa-list-alt"></i>Customer Order</li>
            </ul>
        </div>	
        <div class="row">
           
            <div class="col-lg-12 m-b30">
                <div class="widget-box">
                    <div class="wc-title">
                        <h4>Customer Order</h4>                                         
                    </div>
                    <div class="row">
                        <div class="input-group col-md-6">
                            <div class="input-group-prepend input-group-prepend-sm">
                                <div class="input-group-text"><i class="fa fa-search"></i></div>
                            </div>
                            <br>
                            <input  type="text" [(ngModel)]="_search"  name="_search"  class="form-control form-control-sm"
                                placeholder="Search">            
                        </div>
                       
                    </div>   
                     
                    <div class="widget-inner">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Oeder Id</th>                                   
                                    <th scope="col">Customer </th>
                                    <th scope="col">Pay.Type </th>
                                    <th scope="col">Total Price </th>
                                    <th scope="col">Status</th>
                                    <th scope="col">View Order</th>
                                    <th scope="col">Admin Approve</th>
                                </tr>
                            </thead>
                          

                            <tbody>
                                <tr *ngFor="let thr of OrderData" >
                                    <!-- <td >{{thr.Id}}</td> -->
                                    <td >{{thr.order_num}}</td>
                                    
                                    <td>{{thr.Fname}}</td>                                  
                                    <td>{{thr.PayType}}</td>                                  
                                    <td>{{thr.TotalPrice | currency:'Rs. '}}</td>                                  
                                    <td>
                                        <img  src="../../../../../assets/images/icon/yes.png"  style="width: 20px;height: 20px;" *ngIf="thr.IsActive==1"   >
                                        <img  src="../../../../../assets/images/icon/no.png"  style="width: 20px;height: 20px;"  *ngIf="thr.IsActive==0" >
                    
                    
                                    </td>
                                    <td>
                                        <button class="btn1 BtnPrimary" style=" cursor: pointer;" (click)="OpenOrderIms(thr.Id)">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            View
                                        </button>
                                       
                                    </td>
                                    <td>
                                        <button class="btn1 BtnPrimary" style=" cursor: pointer;" (click)="ApproveOrder(thr)">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            Approve
                                        </button>
                                        </td>
                                                      
                                </tr>
                    
                            </tbody>
                        </table>
                    
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</main>