<div class="page-wraper">
	<!-- <div id="loading-icon-bx"></div> -->
	<div class="account-form">
        <div class="account-head" style="background-image:url(assets/images/banner/foodBack.jpg);">
			<a routerLink="/home"><img src="assets/images/logoNw.png" alt=""></a>
		</div>
		<div class="account-form-inner">
			<div class="account-container">
				<div class="heading-bx left">
					<h2 class="title-head">Change <span>Password</span></h2>
					<p>You can  change your password </p>
				</div>	
				<form class="contact-bx">
					<div class="row placeani">
						<div class="col-lg-12">
							<div class="form-group">
								<div class="input-group">
									<label>Old Password</label>
									<input name="dzName" type="password" required="" [(ngModel)]="OldPassword" class="form-control">
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<div class="input-group"> 
									<label>New Password</label>
									<input name="NewPassword" type="password" [(ngModel)]="NewPassword" class="form-control" required="">
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<div class="input-group"> 
									<label>Confirm New Password</label>
									<input name="cNewPassword" type="password" [(ngModel)]="cNewPassword" class="form-control" required="">
								</div>
							</div>
						</div>
						<div class="col-lg-12 m-b30">
							<button name="submit" type="submit" value="Submit" class="btn button-md" (click)="ChangePassword()">
								Change Password 
							</button>
						</div>
					
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
